%h2
  Welcome to SmsProject, please fill form below:

= semantic_form_for @user_session do |f|
  = f.input :login, :label => 'Login'
  = f.input :password, :label => 'Password'
  = f.commit_button :login_button